.App {
  background-color: white;
  font-family: "DM Sans", sans-serif;
}

/*  GLOBAL PARAGRAPH*/

p {
  font-family: "Barlow", sans-serif;
  color: black;
  text-align: justify;
  margin: clamp(4px, 0.5vw, 8px);
  font-size: clamp(11px, 1.2vw, 15px);
  line-height: clamp(1.4, 1.6vw, 1.7);
}

/*  BANNER*/
.banner-description {
  font-family: "DM Sans", sans-serif;
  color: whitesmoke;
  margin: auto 0;
  font-size: clamp(12px, 1.2vw, 17px);
  line-height: clamp(1.4, 1.6vw, 1.7);
}

/*  MAIN TITLE*/

.title {
  font-family: "Bebas Neue", sans-serif;
  font-size: clamp(32px, 4vw, 70px);
  font-weight: 500;
  margin: clamp(8px, 1vw, 15px) 0;
  line-height: 1;
}

.title span {
  color: rgb(232, 160, 32);
}

.innerpage-title {
  font-size: clamp(22px, 4vw, 48px);
  margin-bottom: 10px;

}


.title-desc {
  max-width: 600px;
  color: #666;
  font-size: clamp(14px, 1.2vw, 16px);
  margin-bottom: 30px;
}

/*  SECTION SUBTITLE*/
.section-subtitle {
  font-family: "DM Sans", sans-serif;
  margin: clamp(8px, 1vw, 15px) 0 0 0;
  max-width: clamp(300px, 40vw, 500px);
  color: #555;
  font-size: clamp(12px, 1.1vw, 14px);
  line-height: clamp(1.4, 1.5vw, 1.7);
}

/*  SUBTITLE*/
.subtitle {
  font-family: "Barlow Condensed", sans-serif;
  font-size: clamp(22px, 3vw, 35px);
  margin: 0;
  line-height: 1.1;
}

/*  BANNER TITLE*/
.banner-title {
  font-family: "Bebas Neue", sans-serif;
  word-break: break-word;
  color: rgb(232, 160, 32);
  font-style: normal;
  text-transform: uppercase;
  font-weight: 500;
  font-size: clamp(45px, 5vw, 90px);
  margin: clamp(4px, 0.5vw, 10px) 0;
  line-height: clamp(0.9, 4.5vw, 1);
  transform-origin: left center;
}

.banner-title span {
  color: white;
}

/*  BANNER TOP TEXT*/

.banner-top-text {
  font-family: "Space Mono", monospace;
  word-break: break-word;
  text-transform: uppercase;
  letter-spacing: clamp(1px, 0.25vw, 3px);
  font-size: clamp(9px, 0.8vw, 12px);
  font-weight: 500;
  color: rgb(232, 160, 32);
  margin: clamp(15px, 2vw, 30px) 10px !important;
  padding-top: clamp(10px, 2.5vw, 30px);
}

/*  HEADER TAG*/
.tag {
  font-size: clamp(9px, 0.9vw, 12px);
  letter-spacing: clamp(1px, 0.15vw, 2px);
  color: rgb(232, 160, 32);
  margin-bottom: clamp(6px, 0.8vw, 10px);
  position: relative;
  padding-left: clamp(25px, 3vw, 40px);
}

.tag::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: clamp(20px, 2.2vw, 30px);
  height: clamp(1px, 0.1vw, 2px);
  background: rgb(232, 160, 32);
  transform: translateY(-50%);
}
