.App {
  background-color: white;
  font-family: "DM Sans:Regular", sans-serif;
}

/* Paragraph */
p {
  font-family: "Barlow", sans-serif;
  color: black;
  text-align: justify;
  margin: 5px;
  font-size: clamp(10px, 1.2vw, 12.5px);
}

.banner-description {
  font-family: "DM Sans", sans-serif;;
  color: whitesmoke;
  font-size: 16px;
  margin: auto 0;
}


.title {
  font-family: "Bebas Neue", sans-serif;
  font-size: clamp(32px, 4vw, 70px);
  font-weight: 500;
  margin: 10px 0;
}

.title span {
  color: rgb(232, 160, 32);
}


.section-subtitle {
  font-family: "DM Sans", sans-serif;
  margin: 10px 0 0 0;
  max-width: 500px;
  color: #555;
  font-size: 14px;
}


.subtitle {
  font-family: "Barlow Condensed", sans-serif;
  font-size: clamp(22px, 3vw, 35px);
  margin: 0;
}

.banner-title1,
.banner-title2 {
  font-family: "Bebas Neue", sans-serif;
  word-break: break-word;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 90px;
  margin: 5px 0;
  transform-origin: left center;
}

.banner-title1 {
  color: rgb(232, 160, 32);
}

.banner-title2 {
  color: white;
}

/* Top small text */
.banner-top-text {
  font-family: "Space Mono", monospace;
  word-break: break-word;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 10.5px;
  font-weight: 700px;
  color: rgb(232, 160, 32);
  margin-bottom: 30px !important;
  padding-top: 2.5%;
  font-weight: 500;
}


/* HEADER */
.tag {
  font-size: 12px;
  letter-spacing: 2px;
  color: rgb(232, 160, 32);
  margin-bottom: 10px;
  position: relative;
  padding-left: 40px;
}

.tag::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 30px;
  height: 1px;
  background: rgb(232, 160, 32);
  transform: translateY(-50%);
}