.collection-container {
  background: #f4f4f4;
  padding: clamp(40px, 6vw, 100px) 5%;
  font-family: sans-serif;
}

.collection {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

/* TEXT */
.cl-subtitle {
  font-size: clamp(10px, 1vw, 12px);
  letter-spacing: 2px;
  color: #888;
  margin-bottom: 10px;
}

.cl-title {
  font-size: clamp(32px, 5vw, 64px);
  font-weight: 700;
  margin-bottom: 10px;
}

.desc {
  max-width: 600px;
  color: #666;
  font-size: clamp(14px, 1.2vw, 16px);
  margin-bottom: 30px;
}

/* FILTER BUTTONS */
.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 40px;
}

.filters button {
  border: 1px solid #ddd;
  background: transparent;
  padding: 8px 14px;
  font-size: clamp(10px, 1vw, 12px);
  cursor: pointer;
  transition: 0.3s;
}

.filters button.active {
  background: #f5a623;
  color: #000;
  border-color: #f5a623;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: clamp(20px, 2vw, 40px);
}

/* CARD */
.card {
  background: #D9D9D9B2;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 280px;
  display: block;
  object-fit: cover;
}

/* INFO */
.card-info {
  padding: 12px 5px;
}

.card-info h4 {
  font-size: clamp(14px, 1.2vw, 16px);
  font-weight: 600;
  margin-bottom: 4px;
}

.card-info span {
  font-size: clamp(10px, 1vw, 12px);
  color: #888;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .filters {
    gap: 6px;
  }
}