/* MAIN CONTAINER */
.about-bnr-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start;
  padding: 0 60px;
  gap: 30%;
  z-index: 2;
}

.about-bnr-left {
  flex: 1;
  min-width: 150px;
  max-width: 250px;
}

.about-bnr-right {
  max-width: 800px;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.about-bnr-card {
  margin-bottom: 20px;
  height: 420px;
  position: relative;
  overflow: hidden;
  border: 0.5px solid rgba(232, 160, 32, 0.5);
}

.about-card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
}

/* studio */
.studio {
  background: #D9D9D9B2;
  padding: 60px 80px;
}

.studio-container {
  display: flex;
  gap: 40px;
}


.studio-left {
  flex: 1;
}

.studio-desc {
  line-height: 1.6;
  margin: 10px 0;
  color: #333;
}

.studio-desc.small {
  color: #666;
}

.studio-services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 30px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.service-box {
  background-color: white;
  padding: 10px;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.service-box span {
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  color: rgb(232, 160, 32);
  font-weight: bold;
  display: block;
  margin-bottom: 0px;
}

.service-box h4 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 11px;
  margin: 5px 0;
}

.service-box p {
  font-size: 12px;
  color: #555;
  margin: auto 0;
}

.studio-right {
  flex: 1;
}

.image-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 150px 150px;
  gap: 2px;
}

.img {
  background-size: cover;
  background-position: center;
  border-radius: 4px;
}

.img.large {
  grid-row: span 2;
  background-image: url("/public/assets/images/studio1.avif");
}

.img.small.top {
  background-image: url("/public/assets/images/studio2.avif");
}

.img.small.bottom {
  background-image: url("/public/assets/images/studio3.webp");
}

/* STATS */
.stats {
  display: flex;
  justify-content: space-between;
  background: #fff;
}

.stats>* {
  flex: 1;
  border-right: 1px solid #ddd;
  padding: 14px;
}

.stats>*:last-child {
  border-right: none;
}

.stats h3 {
  font-family: fantasy;
  font-weight: 400 !important;
  font-size: 25px;
  color: rgb(232, 160, 32);
  margin: 0;
}

.stats p {
  color: rgb(70, 69, 69);
  font-size: 10px;
  margin: 5px 0 0;
}

/* TeamSection */
.team {
  background: #f5f3ef;
  padding: 60px 80px;
}

.team-header .tag {
  font-size: 12px;
  letter-spacing: 2px;
  color: rgb(232, 160, 32);
  margin-bottom: 10px;
}



.team-slider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}


.nav {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  margin: 10px;
}


.team-cards {
  display: flex;
  gap: 30px;
  margin: 0 20px;
}

.team-card {
  width: 300px;
}

.team-card img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  filter: grayscale(100%);
}


.team-card .desc {
  font-size: 13px;
  margin-top: 15px;
  color: #333;
}


.icons {
  display: flex;
  gap: 10px;
}

.icons span {
  width: 35px;
  height: 35px;
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 12px;
}


/* inspiration */
.leader-post {
  font-family: "Barlow Condensed", sans-serif;
  color: #aaa;
  font-size: 30px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 8px;
  text-transform: uppercase;
}


.leader-name {
  font-family: "Barlow Condensed", sans-serif;
  color: rgb(232, 160, 32);
  font-size: 35px;
  font-weight: 500;
  line-height: 0.95;
  text-transform: uppercase;
}


.leader-surname {
  font-family: "Barlow Condensed", sans-serif;
  color: #fff;
  font-size: 35px;
  font-weight: 500;
  line-height: 0.95;
  text-transform: uppercase;
}

.inspiration {
  background: #D9D9D9B2;
  padding: 60px 80px;
  font-family: "Bebas Neue", sans-serif;
}



.inspiration-header .title span {
  color: rgb(232, 160, 32);
}

.inspiration-header .subtitle {
  margin-top: 10px;
  max-width: 500px;
  color: #555;
  font-size: 14px;
}

/* CARDS */
.inspiration-cards {
  display: flex;
  justify-content: center;
  overflow: hidden;
  gap: 40px;
  margin-top: 50px;
}

.inspiration-card {
  width: 300px;
  position: relative;
}

/* IMAGE */
.inspiration-card img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  display: block;
  filter: grayscale(100%);
}

/* OVERLAY */
.leader-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 25px 22px;
  box-sizing: border-box;
  color: #fff;
  background: linear-gradient(to top,
      rgba(0, 0, 0, 0.75) 0%,
      rgba(0, 0, 0, 0.2) 60%,
      rgba(0, 0, 0, 0) 100%);

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease;
}

/* SHOW ON CARD HOVER */
.inspiration-card:hover .leader-overlay {
  opacity: 1;
  visibility: visible;
}


/* DESCRIPTION */
.inspiration-card .desc {
  margin: 15px 0;
  font-family: "DM Sans", sans-serif;
  font-size: 13px;
  line-height: 1.6;
  color: #222;
}