@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');

/* HEADER */
.header {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px clamp(15px, 6vw, 60px);
  flex-wrap: wrap;
}

/* LOGO */
.logo1 {
  height: 150px;
}

.logo2 {
  height: 40px;
}

/* NAVBAR */
.navbar {
  position: relative;
}

.nav-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.main-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-navbar li {
  display: flex;
  align-items: center;
}

.main-navbar li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-navbar,
.main-navbar {
  list-style: none;
  display: flex;
  padding: 0;
  margin-bottom: 0;
  gap: clamp(10px, 2vw, 30px);
}

.sub-navbar li,
.main-navbar li {
  font-family: calibri;
  position: relative;
  padding: 0 20px;
}

.sub-navbar li span.nav-item,
.main-navbar li span.nav-item {
  display: flex;
  align-items: center;
  font-size: clamp(12px, 1.2vw, 17px);
  text-transform: uppercase;
}

.sub-navbar li span.nav-item {
  font-size: clamp(11px, 1.2vw, 15px);
  font-weight: 600;
  color: rgba(186, 1, 90, 1);
}

.sub-navbar li a,
.main-navbar li a {
  font-family: "Barlow", sans-serif;
  text-transform: uppercase;
  color: black;
  font-size: clamp(9.5px, 1.2vw, 15.5px);
  font-weight: 500;
  text-decoration: none;
}


/* MAIN NAV */
.main-navbar li span.nav-item {
  font-size: clamp(12px, 1.2vw, 18px);
  font-weight: 600;
  color: black;
}

/* DROPDOWN ICONS */
.sub-navbar svg,
.main-navbar svg {
  font-size: clamp(20px, 2vw, 28px);
  color: black;
}

.main-navbar svg {
  color: black;
}


/* DROPDOWN */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: max-content;
  background: white;
  list-style: none;
  padding: 10px 0;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(10px);
  transition: 0.3s ease;
  z-index: 1000;
}

.dropdown-menu li {
  padding: 10px 20px;
  color: rgba(69, 8, 108, 1);
  font-size: 16px;
}

.dropdown-menu li:hover {
  border-bottom: 1.5px solid rgba(186, 1, 90, 1);
}

.sub-navbar li a:hover,
.main-navbar li a:hover {
  color: rgba(69, 8, 108, 1);
  font-weight: 600;
}


.main-navbar li:hover .dropdown-menu,
.sub-navbar li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* HIDE MOBILE ELEMENTS (DESKTOP) */
.hamburger,
.mobile-menu,
.menu-overlay,
.close-btn {
  display: none;
}

/* ================= MOBILE ================= */
@media (max-width: 1440px) {
  .header {
    padding: 10px 20px;
  }

  .sub-navbar,
  .main-navbar {
    gap: 10px;
  }


}




/* desk hamburger Menu */
.desk-hamburger {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 30px;
  color: rgba(69, 8, 108, 1);
  cursor: pointer;
}

.desk-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  background: white;
  z-index: 999;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

/* Header (Logo + Close) */
.desk-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desk-logo {
  height: clamp(40px, 5.5vw, 70px);
  margin: 0 auto;
}


/* Close Button */
.desk-close-btn {
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 25px;
  border: 1px solid rgba(69, 8, 108, 1);
  border-radius: 50%;
  color: rgba(69, 8, 108, 1);
  cursor: pointer;
  z-index: 1100;
}

/* Menu List */
.desk-list {
  list-style: none;
  padding: 0;
  margin: 40px 50px 0 50px;
  border-bottom: 2px solid #eee;
}

.desk-list li {
  font-size: 20px;
  padding: 15px 0;
  color: rgba(69, 8, 108, 1);
  cursor: pointer;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: clamp(10px, 1.5vw, 20px) auto;
}

/* Each icon */
.social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.3s ease;
}

/* Hover effect */
.social-icons a:hover {
  transform: translateY(-3px);
}

/* ================= MOBILE ================= */
@media (max-width: 768px) {
  .desk-hamburger {
    display: none;
  }

  .header {
    justify-content: center;
    padding-top: 20px;
  }

  .logo-subtitle {
    margin-top: -5px;
  }

  /* HIDE DESKTOP NAV */
  .nav-section {
    display: none !important;
  }

  /* HAMBURGER */
  .hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 5px;
    left: 8px;
    font-size: 24px;
    color: rgba(186, 1, 90, 1);
    cursor: pointer;
    z-index: 1100;
  }

  /* MOBILE MENU */
  .mobile-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
    width: 270px;
    height: 100vh;
    background: #fff;
    padding: 20px 15px 20px;
    overflow-y: auto;
    transition: left 0.3s ease;
    z-index: 1050;
  }

  .mobile-menu.active {
    left: 0;
  }

  /* CLOSE BUTTON */
  .close-btn {
    display: flex;
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 22px;
    color: rgba(186, 1, 90, 1);
    cursor: pointer;
    z-index: 1100;
  }

  /* MOBILE NAV */
  .mobile-sub-navbar svg,
  .mobile-main-navbar svg {
    font-size: 20px;
    color: rgba(69, 8, 108, 1);
  }

  .mobile-sub-navbar,
  .mobile-main-navbar {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .mobile-sub-navbar li,
  .mobile-main-navbar li {
    display: flex;
    flex-direction: column;
    color: rgba(69, 8, 108, 1);
    border-bottom: 1px solid #f0f0f0;
  }

  .mobile-sub-navbar li span,
  .mobile-main-navbar li span {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
  }

  .mobile-main-navbar a,
  .mobile-sub-navbar a {
    padding: 10px 5px;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    color: rgba(69, 8, 108, 1);
  }

  /* DROPDOWN */
  .mobile-dropdown {
    max-height: 0;
    overflow: hidden;
    background: rgba(186, 1, 90, 1);
    transition: max-height 0.3s ease;
  }

  .mobile-dropdown.open {
    max-height: 600px;
    padding: 5px 0;
  }

  .mobile-dropdown a {
    padding: 8px 15px;
    font-size: 12px;
    color: white;
  }

  .rotated {
    transform: rotate(180deg);
    transition: 0.3s;
  }

  /* OVERLAY */
  .menu-overlay {
    display: block;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1000;
  }
}