.banner-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  box-shadow:
    0 -10px 20px rgba(0, 0, 0, 0.2),
    0 10px 20px rgba(0, 0, 0, 0.2);

}

.banner-image {
  position: relative;
  background: url("/public/assets/images/banner.avif") center / cover no-repeat;
  width: 100%;
  height: clamp(450px, 90vh, 900px);
  overflow: hidden;
}

/* Overlay */
.banner-image::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

/* Keep content above overlay */
.banner-content {
  position: relative;
  z-index: 2;
  max-width: clamp(320px, 70vw, 1000px);
}

/* Center content */
.banner-center {
  margin-left: clamp(5%, 20vw, 20%);
}

/* Button */
.banner-btn {
  font-family: "Barlow Condensed", sans-serif;
  width: fit-content;
  padding: clamp(8px, 0.8vw, 12px) clamp(20px, 2.5vw, 40px);
  margin-top: clamp(12px, 1.5vw, 24px);
  border: none;
  background: rgb(232, 160, 32);
  font-size: clamp(12px, 1vw, 16px);
  cursor: pointer;
  transition: 0.3s ease;
}

.banner-btn:hover {
  background: white;
  transform: translateY(-3px);
}

/* Tablet + Mobile */
@media (max-width: 768px) {
  .banner {
    min-height: clamp(400px, 70vh, 550px);
    padding: clamp(20px, 5vw, 40px) clamp(15px, 5vw, 30px);
    align-items: center;
  }

  .banner-image {
    height: 65vh;
  }

  .banner-center {
    margin-left: clamp(10px, 5vw, 30px);
    margin-right: clamp(10px, 5vw, 30px);
  }

  .banner-content {
    width: 100%;
    max-width: 100%;
  }
}