.banner-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  box-shadow:
    0 -10px 20px rgba(0, 0, 0, 0.2),
    0 10px 20px rgba(0, 0, 0, 0.2);
}

.banner-image {
  position: relative;
  background: url("/public/assets/images/banner.avif") center / cover no-repeat;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

/* Overlay opacity */
.banner-image::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}


/* Keep content above overlay */
.banner-content {
  position: relative;
  z-index: 2;
}

.banner-center {
  margin-left: 20%;
}

/* Button */
.banner-btn {
  font-family: "Barlow Condensed", sans-serif;
  ;
  padding: 10px 30px;
  margin-top: 20px;
  border: none;
  background: rgb(232, 160, 32);
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s ease;
}


.banner-btn:hover {
  background: white;
  transform: translateY(-3px);
}


/* Mobile */
@media(max-width:768px) {

  .banner {
    min-height: 500px;
    padding: 30px 20px;
    align-items: center;
  }

  .banner-image {
  height: 75vh;
}

  .banner-center {
    margin: 0 20px;
  }

  .banner-content {
    max-width: 100%;
  }


  .banner-top-text {
    margin: 0 auto;
  }

}